/* Add style to the universal selector */

* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add style to class selector */

.flex-container {
    border: 2px solid purple;
    display: flex;
}

/* Add style to chaining selector */

.flex-item.one {}

/* Add style to the class selector */

.flex-item {
    border: 1px solid black;
    margin: 10px 0;
    height: 100px;
    width: 100px;
}

/* Add style to the chaining selector */

.flex-item.two {}