/* Add style to the universal selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add style to class selector */

.flex-container {
    border: 2px solid purple;
    display: flex;
}

/* Add style to chaining selector */

.flex-item.first {
    background-color: yellow;
}

/* Add style to the class selector */

.flex-item {
    border: 1px solid black;
    height: 100px;
    width: 100px;
}

/* Add style to the chaining selector */

.flex-item.second {
    background-color:red
}