/* Add style to the universal selector */

* {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Add style to class selector */

.flex-container {}

/* Add style to chaining selector */

.flex-item.one {}

/* Add style to the class selector */

.flex-item {}

/* Add style to the chaining selector */

.flex-item.two {}